data/concept_net.html
data/new_learning_list.pkl
data/selected_video.pkl
data/watchedVideo_concepts.csv
data/watchedVideo.pkl
__pycache__/Script_Exctractor.cpython-38.pyc
__pycache__/utils.cpython-38.pyc
data/new_learning_list.pkl
data/selected_video.pkl
data/watchedVideo.pkl
